<div class="footer" style="display: flex; justify-items: space-around; ">

  <div class="col-4 footer-element">
    <div>
      <div class="heading">Contact Us</div>
      <div class="content">
        <ul>
          <li>info@commercefields.com</li>
          <li>admin@commercefields.com</li>
          <li>+27 72 598 9012</li>
          <li>+263 785 935 442</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-4 footer-element">
    <div>
      <div class="heading">Terms & Conditions</div>
      <div class="content">
        <ul>
          <li>Terms of Service</li>
          <li>Cookie Policy</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-4 footer-element">
    <div>
      <div class="heading"></div>
      <div class="content">
        <img src="../../../assets/images/logo.png" alt="" height="50px"> <span style="font-size: 20px; font-weight: bolder; margin-left: -20px">&copy; 2023</span>
      </div>
    </div>
  </div>

</div>
