.about-hero
  height: 500px
  background-size: cover !important
  background-position: center !important
  background-repeat: no-repeat !important

  h1
    font-family: "Archivo Black" !important

.about-container
  .section
    display: flex
    justify-content: center
    align-items: center
    margin-top: 70px
    margin-bottom: 100px
    height: 200px

    .section-header
      color: white
      transform: rotate(-90deg)
      padding: 15px
      margin: 15px
      min-width: 160px
      text-align: center

    .content
      margin-left: 20px
      margin-right: 20px

.contact-form-input

  input, textarea
    width: 50%
    margin-left: auto
    margin-right: auto
    margin-top: 30px
    border: none
    border-radius: 15px
    padding: 15px

input:focus
  border: none
