<div class="about-container">

  <div class="section">
    <div class="section-header">
      <h2>Who we are</h2>
    </div>
    <div class="content">
      <p>Commerce Fields Investment Team strives to perfect the systems and strategies that get more homes sold for the most amount of money in the least amount of time.

        We tap into our team’s unparalleled knowledge of the local real estate market, real estate tech tools, and aggressive marketing and search engine strategies to help sellers achieve the best possible success in pricing, showing and marketing their properties.
      </p>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <h2>Mission & Vision</h2>
    </div>
    <div class="content">
      <p>Delivering the dream of home ownership everywhere. <br>
        All branches of Commerce Fields Investment have this same goal, because owning real estate provides security, safety and opportunity for individuals. The technology we build helps real estate agents become more efficient at their job and find more customers to deliver on that mission. Our training prepares agents to be even better by utilizing exceptional techniques and systems, and Commerce Fields Investment Teams constantly help families find and sell homes.

        Win, Make, Give, and Do Good. <br>
        We want to win at what we do, and we do all we can to help our customers, agents and employees build wealth. We love to work with people who are passionate about working hard and also giving back to their communities in a big way.
      </p>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <h2>Values</h2>
    </div>
    <div class="content">
      <p>Our values are what everyone who works at Commerce Fields Investment strives for each day, and they are applicable to any companies we work with. These values are also the metric we use to decide to invest or get in business with others. We believe our team’s success is determined by our ability to maintain our HEALTH, which is defined by our core values:
        Hard work
        Extraordinary results
        Accountable in all things
        Leaders only
        Teamwork
        Humble
      </p>
    </div>
  </div>


</div>
