nav
  div
    padding: 10px

    .right
      display: flex
      justify-content: flex-end
      align-items: center

      ul
        li
          margin-left: 40px

          a
            text-decoration: none
            color: #1e1e1e
            font-size: 18px
            font-weight: bold
            font-family: "PT Sans"
